<template>
  <div>
    lets decode
    <textarea v-model='text' name="Decode" rows="10"></textarea>
    <button v-on:click='onSubmitDecode'>Decode!</button>
    <pre v-if='decoded'>
      <code>{{ decoded }}</code>
    </pre>
    <div v-if='error'>Unable to decode: {{ message }}</div>
  </div>
</template>

<script>
export default {
  name: 'Decode',
  data () {
    return {
      text: '',
      decoded: '',
      error: false,
      message: ''
    }
  },
  methods: {
    onSubmitDecode () {
      if (this.text) {
        var data = {
          text: this.text
        };
        this.axios.post('/api/v1/decode', data)
          .then((response) => {
            this.error = false;
          this.decoded = response.data.decoded
          }).catch((error) => {
            this.decoded = '';
            this.error = true;
            this.message = error.response.data.message;
          })
      }
    }
  }
}
</script>
