<template>
  <div>
    lets encode
    <textarea v-model='text' name="Encode" rows="10"></textarea>
    <button v-on:click='onSubmitEncode'>Encode!</button>
    <pre v-if='encoded'>
      <code>{{ encoded }}</code>
    </pre>
  </div>
</template>

<script>
export default {
  name: 'Encode',
  data () {
    return {
      text: '',
      encoded: ''
    }
  },
  methods: {
    onSubmitEncode () {
      if (this.text) {
        var data = {
          text: this.text
        };
        this.axios.post('/api/v1/encode', data)
          .then((response) => {
            this.encoded = response.data.encoded;
        })
      }
    }
  }
}
</script>
