<template>
  <div class="hello">
    <p>
      You can encode and decode here text using
      super efficient weirdtext alorithm in order
      to hide your thoughts in front of NSA.
    </p>
  </div>
</template>

<script>
export default {
  name: 'Home',
}
</script>
