<template>
  <div id="app">
    <h1>Welcome to weirdapp</h1>
    <router-link tag='button' to='/encode'>Encode</router-link>
    <router-link tag='button' to='/decode'>Decode</router-link>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: #2c3e50; */
  margin-top: 60px;
}
</style>
